@import '~@angular/material/theming';
@import '../styles/components-theme';
@import '../styles/variables';

@include mat-core();

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

// Our dark theme
.dark-theme {
    color: $light-primary-text;
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  
    @include angular-material-theme($dark-theme);
    @include components-theme($dark-theme);
  }